.navbar-header {
  background-color: #040d12;
  color: white;
  .ant-menu {
    background-color: #040d12;
    color: white;
    .ant-menu-item .ant-menu-item-selected {
      .ant-menu-title-content {
        color: white !important;
        ::after {
          color: white !important;
        }
      }
    }
  }
}
